* {
	--bg-color: #263039;
	--max-quest-bar-width: 200px;
}

body {
	background-color: var(--bg-color);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: white;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	padding: 0px;
}

.app-header-bar {
	min-height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2em;
}

.app-header-item {
	font-size: 2em;
}

.app-header-user {
	font-size: 2em;
}

.hover-target {
	display: none;
	position: absolute;
	background-color: var(--bg-color);
	z-index: 100;
}

.hover-parent:hover > .hover-target {
	display: block;
}

.quest-bar-loader-frame {
	border: solid black 2px;
	width: var(--max-quest-bar-width);
	height: 40px;
}
.quest-bar-loader-bar {
	background: repeating-linear-gradient(
		-60deg,
		black,
		black 10px,
		#4479a9 10px,
		#4479a9 20px
	);
	background-size: 11000px 100px;
	height: 40px;
}
@keyframes shift-background {
	from {background-position: -10000px 0;}
	to   {background-position: 0 0;}
}
@keyframes questing-progress {
	from {width: calc(var(--starting-progress) * var(--max-quest-bar-width));}
	to   {width: var(--max-quest-bar-width);}
}
.quest-bar-loader-bar:not(.quest-bar-loader-done) {
	animation: questing-progress var(--progress-duration) linear 0s 1 forwards, shift-background 1000s linear;
}
.quest-bar-loader-bar.quest-bar-loader-done {
	width: var(--max-quest-bar-width);
}

.inventory-screen > .item-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.item-box {
	position: relative;
}

.item-box > .image-layers {
	min-width: 342px;
	max-width: 342px;
	min-height: 256px;
	max-height: 256px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;

	background: radial-gradient(circle at 50% 80%, rgba(210,210,210,1) 0%, rgba(94,94,94,1) 110%);
	border: 2px solid #222;
	border-bottom: 0;
	border-radius: 1px 1px 0 0;
}

.item-box > .item-name {
	min-width: 342px;
	max-width: 342px;
	box-sizing: border-box;

	padding: 3px 2px 3px 10px;
	text-shadow: 1px 1px #444;
	font-size: 1.2em;

	background: linear-gradient(90deg, rgb(145, 145, 145) 0%, rgba(145,145,145,1) 23%, rgba(89,89,89,1) 100%);
	border: 2px solid #222;
	border-top-width: 1px;
	border-radius: 0 0 1px 1px;
}

.item-box.skin-quality-covert > .item-name {
	background: linear-gradient(90deg, #eb4b4b 0%, #eb4b4b 23%, #621f1f 100%);
}
.item-box.skin-quality-classified > .item-name {
	background: linear-gradient(90deg, #d32ee6 0%, #d32ee6 23%, #64156d 100%);
}
.item-box.skin-quality-restricted > .item-name {
	background: linear-gradient(90deg, #8847ff 0%, #8847ff 23%, #321a5f 100%);
}
.item-box.skin-quality-milspec > .item-name {
	background: linear-gradient(90deg, #4b69ff 0%, #4b69ff 23%, #1b265e 100%);
}
.item-box.skin-quality-industrial > .item-name {
	background: linear-gradient(90deg, #5e98d9 0%, #5e98d9 23%, #263d58 100%);
}
.item-box.skin-quality-consumer > .item-name {
	background: linear-gradient(90deg, #9badc2 0%, #95a7bc 23%, #3f4853 100%);
}
.item-box.skin-quality-contraband > .item-name {
	background: linear-gradient(90deg, #ffae39 0%, #ffae39 23%, #553912 100%);
}

.item-box .item-hover {
	min-width: 342px;
	max-width: 342px;
	box-sizing: border-box;
	padding: 4px 4px 4px 6px;
	position: absolute;
	z-index: 100;
	display: none;

	border: 2px solid #4e647b;
	background: linear-gradient(180deg, #1b3047 0%, #152536 100%);
}

.item-box .item-hover table tr td:not(:first-child) {
	padding-left: 6px;
}

.item-box .item-hover .item-name {
	font-size: 1.5em;
}

.item-box:hover .item-hover {
	display: block;
}

.item-box.container-box .image-layers .layer-base,
.item-box.container-box .image-layers .layer-main-collection {
	position: absolute;
	height: 256px;
	left: 0;
	right: 0;
	margin: auto;
}

.item-box.skin-box .image-layers .layer-base {
	position: absolute;
	height: 256px;
}

.opening-screen.possible-drops-screen {
	display: flex;
	gap: 20px;
}

.chance-group .drop-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.opening-animation-screen > h2 {
	text-align: center;
}

.opening-animation-frame-wrapper {
	overflow: hidden;
	width: 1050px;
	margin: auto;
}

.opening-animation-frame {
	overflow: hidden;
	width: 1050px;
	position: relative;
}

.opening-bottom-bar {
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 1080px) {
	.opening-animation-frame {
		transform: scale(0.8) translateY(-13%);
		margin-left: -105px; /* 10% of width */
	}
	.opening-animation-frame-wrapper {
		width: 840px;
		height: 254px;
	}
	.opening-animation-frame .item-box .item-name {
		font-size: 1.4em;
	}
}

@media (max-width: 860px) {
	.opening-animation-frame {
		transform: scale(0.6) translateY(-26%);
		margin-left: -210px; /* 20% of width */
	}
	.opening-animation-frame-wrapper {
		width: 630px;
		height: 195px;
	}
	.opening-animation-frame .item-box .item-name {
		font-size: 1.6em;
	}
}

.sliding-items {
	display: flex;
	gap: 8px;
	padding-right: 10px;
}

/* -12427 = 37 <number of alternate items> * 350 <item frame + gap width> - (350 * 3) / 2 <center of animation view window> - 2 (border) */
@keyframes item-row-sliding {
	0%   {margin-left: 0px; animation-timing-function: cubic-bezier(.09,.58,0,.95);}
	91%  {margin-left: calc(var(--max-margin)*0.9969); animation-timing-function: linear;}
	98%  {margin-left: calc(var(--max-margin)*0.9996); animation-timing-function: linear;}
	100% {margin-left: calc(var(--max-margin)*1.00);}
}

.sliding-items .item-box:nth-child(1) {
	--max-margin: -11727px;
	animation-duration: 7.3s;
	animation-name: item-row-sliding;
	animation-fill-mode: forwards;
}

.sliding-item-central-line {
	position: absolute;
	left: 524px;
	top: -20px;
	width: 2px;
	height: 350px;
	background: orange;
	background-clip: padding-box;
	border: 10px solid;
	border-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
	border-image-slice: 8;
	border-width: 8px;
	border-style: solid;
}
